.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: cyan;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
}

ul {
  font-size: 20px;
  line-height: 30px;
}